/* ================================COMMON STYLES============================== */

.container {
  max-width: 768px;
  margin: 0 auto;
  padding: 0 16px;
}
.link-hover,
.customers-link {
  transition: color var(--animation-slow);
}
.primary-btn:hover,
.primary-btn:focus,
.team-social-link:hover,
.team-social-link:focus,
.footer-submit-btn:hover,
.footer-submit-btn:focus,
.modal-secondary-btn:hover,
.modal-secondary-btn:focus {
  background-color: var(--color-dark-blue);
}

/* ===============================/COMMON STYLES============================== */
/* =====================================HEADER================================ */

.header-container {
  display: flex;
  padding: 16px;
  align-items: center;
  justify-content: space-between;
}
/* =================================NAVIGATION================================ */

.nav {
  color: var(--color-navy);
  padding: 24px 0;
}
.nav-list {
  display: flex;
  gap: 40px;
}
.underline {
  position: relative;
  color: var(--color-dark-blue);
}
.underline::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -9px;
  width: 100%;
  height: 4px;
  background-color: var(--color-dark-blue);
  border-radius: 2px;
}
.link-hover:hover,
.link-hover:focus {
  color: var(--color-dark-blue);
}

/* ================================/NAVIGATION================================ */
/* ====================================ADDRESS================================ */

.address-list-link:first-child {
  margin-bottom: 12px;
}
.contact {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;
  color: var(--color-grey);
}
/* ===================================/ADDRESS================================ */

/* ====================================/HEADER================================ */

/* ===============================HERO SECTION================================ */

.hero {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/hero/people-in-office-tablet.jpg);
  padding: 112px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}
@media screen and (min-width: 729px) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-in-office.jpg);
  }
}
@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero/people-in-office-tablet@2x.jpg);
  }
}
@media screen and (min-width: 729px) {
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero/people-in-office@2x.jpg);
    }
  }
}

.hero-text {
  font-size: 56px;
  line-height: 1.07;

  max-width: 496px;
  margin: 0 auto 36px;
}
.primary-btn:hover,
.primary-btn:focus,
.team-social-link:hover,
.team-social-link:focus {
  background-color: var(--color-dark-blue);
}

/* ===============================/HERO SECTION================================ */

/* ================================ODDS SECTION================================ */

.odds {
  padding: 96px 0;
}
.odds-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 24px;
}
.odds-list-item {
  flex-basis: calc((100% - 24px) / 2);
}
.odds-list-icon-bg {
  display: none;
}
/* =========================/ODDS SECTION================================ */
/* ==========================FEATURES SECTION================================ */

.features {
  display: none;
}
/* ==========================/FEATURES SECTION================================ */

/* ===============================TEAM SECTION================================ */

.main-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.team {
  padding: 96px 0;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 64px;
  column-gap: 24px;
  justify-content: center;
}

.page-header {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--color-navy);
  margin-bottom: 72px;
}
/* ===============================/TEAM SECTION================================ */
/* ===============================CUSTOMERS SECTION============================ */

.customers {
  padding: 96px 0;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
  column-gap: 24px;
}
.customers-link {
  width: 168px;
  height: 88px;
}
/* ==============================/CUSTOMERS SECTION============================ */
/* ======================================FOOTER================================ */

.footer {
  padding: 96px 0;
}
.footer-container {
  padding: 0 108px;
}
.footer-wrapper-left {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
}
.footer-signature {
  width: 264px;
}
.footer-form {
  display: flex;
  gap: 24px;
}
.footer-email-input {
  width: 264px;
  opacity: 0.3;
}
.footer-send-icon {
  margin-left: 16px;
}
/* =====================================/FOOTER================================ */
/* ================================PORTFOLIO PAGE============================== */

.portfolio-section {
  padding: 64px 0 96px 0;
}
.filter-list {
  margin-bottom: 64px;
  justify-content: center;
}

.benefits-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px 24px;
}
.benefits-list-card {
  flex-basis: calc((100% - 24px) / 2);
}
.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: var(--color-navy);
}
/* ==============================/PORTFOLIO PAGE============================== */
/* ==============================BURGER MENU================================== */
.menu-container {
  display: none;
}
/* ==============================/BURGER MENU================================== */
